# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
focus-tracker.exe
gogogott.exe

# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
